body {
  font-family: Lexend Deca, Roboto, Helvetica;
}

/* nav starts */
nav {
  background-color: #134f5c;
}

a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}

h1 {
  color: #ff9900;
}

h1 span {
  color: #ffffff;
}

nav ul a:hover {
  background-color: #ff9900;
  color: #ffffff;
}
/* nav ends */

/* jumbotron starts */
.jumbotron {
  background-image: url("../images/river_cambridgegulfandestuary.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

div h3 {
  color: #ffffff;
  display: none;
}
/* jumbotron ends */

/* content starts */
.profile {
  margin: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5%;
  width: 85%;
}
figcaption {
  font-size: 0.8rem;
}

/* social media starts */
.social-menu ul {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  white-space: nowrap;
}
.social-menu ul li {
  list-style: none;
  display: inline;
  margin: 0;
}
.social-menu ul li .fa {
  font-size: 1.4rem;
}
.fa-facebook {
  color: #3b5999;
}
.fa-twitter {
  color: #55acee;
}
.fa-instagram {
  color: #bd2bb1;
}
.fa-envelope-o {
  color: #bb001b;
}
.social-menu ul li .fa:hover {
  color: #ff9900;
}

/* social media ends */

.col-lg-3 {
  text-align: center;
}

.col-lg-5,
.port-title,
.port-content {
  padding-left: 0.7rem;
}

.col-lg-7 {
  padding-left: 2rem;
  text-align: justify;
}
.col-lg-7 h5 {
  padding-bottom: 0.8rem;
}
.col-lg-7 a {
  color: #5076c9;
  margin: 0px;
  padding: 0px;
}
.col-lg-7 a:hover {
  color: rgb(255, 255, 255);
  background-color: #ff9900;
}
.col-lg-10 {
  padding: 1rem;
  padding-top: 0;
}

/* tabel starts */
table {
  margin-top: 1rem;
  width: 100%;
}

table a {
  color: #5076c9;
  margin: 0px;
  padding: 0px;
}
table a:hover {
  color: rgb(255, 255, 255);
  background-color: #ff9900;
}

th {
  background-color: #dfdfdf;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.year {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
.col-lg-7 th h5 {
  padding-bottom: 0;
}

td {
  padding-right: 1rem;
  padding-top: 0.5rem;
  text-align: justify;
}

tr {
  border: solid #dfdfdf;
  border-width: thin;
}

summary {
  list-style-type: none;
  background-color: #dfdfdf;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  transition-duration: 0.3s;
}

summary:hover {
  background-color: #ff9900;
  color: #ffffff;
}
details p {
  padding-left: 1rem;
  margin-bottom: 0rem;
}
details a {
  color: #134f5c;
  padding: 0.2rem;
  margin: 0rem;
}
details a:hover {
  background-color: #134f5c;
  color: #ffffff;
  padding: 0.2rem;
  margin: 0rem;
}
/* table ends */

.portfolio-item {
  margin-top: 1rem;
  padding: 1rem;
  border: solid #a0a0a0;
  border-width: thin;
  border-radius: 6px;
  text-align: center;
}

.portfolio-item h4,
.portfolio-item p {
  text-align: justify;
}

section div a h2 {
  color: #ffffff;
  background-color: #134f5c;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

section {
  margin-bottom: 4rem;
}

form,
.alert {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  color: #ffffff;
  background-color: #ff9900;
  align-content: flex-end;
}
/* content ends */

/* footer starts */
footer {
  font-size: 0.8rem;
  background-color: #134f5c;
  color: #ffffff;
  text-align: right;
  padding-right: 2.5rem;
}

footer p a {
  margin: 0px;
  padding: 0px;
}

footer p a:hover {
  color: #ff9900;
}
/* footer ends */

/* small size screen */
@media screen and (max-width: 992px) {
  body {
    font-family: Roboto, Helvetica;
  }

  .jumbotron {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }

  .col-lg-7 {
    padding-left: 0.8rem;
  }

  .col-lg-7 h5,
  .col-lg-7 p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-7 th h5 {
    padding-left: 0;
  }

  .social-menu ul {
    margin-bottom: 2rem;
  }

  footer {
    text-align: center;
    padding-right: 0;
  }
}
