/*  */
*,
*::backdrop,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: Montserrat;
  --ff-secondary: Lexend Deca;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-dark: #134f5c;
  --clr-dark-sec: #2598b4;
  --clr-bright: #ffffff;
  --clr-bright-sec: #dbdbdb;
  --clr-accent: #ff9900;
  --clr-accent-sec: #ffde49;
  --clr-accent-darker: #ff0040;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

body {
  font-family: Montserrat, Lexend Deca, Roboto;
}

/* Buttons */

/* nav starts */
nav {
  background: rgb(2, 0, 36);
  background: linear-gradient(176deg, rgba(2, 0, 36, 1) 0%, rgba(19, 79, 92, 1) 100%);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}
nav div a h1 {
  font-family: Lexend deca;
}
nav div a h2 span,
h1.display-md-5 span,
h1.display-6 span {
  color: #ff9900;
}
.navbar ul.navbar-nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
a.navbar-brand h3 {
  color: #ff9900;
}
div .container-fluid a .navbar-brand {
  color: #ff9900;
}
.navbar ul.navbar-nav a.nav-link:hover {
  color: var(--clr-accent-sec);
  border-radius: 0.2rem;
  transform: scaleX(1.01);
}

/* Jumbotron starts*/
.jumbo {
  background: var(--clr-dark);
  background-image: url(../images/Cambridge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-blend-mode: multiply;
  min-height: 100vh;
}

/* Layout */
#project1,
#project2,
#project3,
#project4,
#education,
#experience,
#courses,
#skills,
#projects,
#webmap {
  padding-top: 5rem;
  padding-bottom: 3rem;
  min-height: 100vh;
  background-image: linear-gradient(355deg, var(--clr-bright-sec), var(--clr-bright));
}
section#contact {
  padding-top: 5rem;
  background: var(--clr-dark);
  background-image: url(../images/Indus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-blend-mode: multiply;
  min-height: 90vh;
}
div.leaflet-control-layers-expanded {
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  /* background-color: va; */
}

/* Section Title */
.col-md-3 a,
.col-md-4 a,
.col-md-5 a,
.col-lg-6 a {
  text-decoration: none;
}
a h2.subtitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 10rem;
  height: 0.1rem;
  background: var(--clr-dark-sec);
  bottom: 0.1rem;
  left: calc(50% - 5rem);
}
a h2.subtitle {
  font-family: Montserrat;
  color: var(--clr-dark);
  position: relative;
  padding-bottom: 0.5em;
}
a h2.subtitle::after {
  content: "";
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 0.1875rem;
  background: var(--clr-accent);
  bottom: 0.05rem;
  left: calc(50% - 1.25rem);
  transition: 0.5s ease-out;
}
a h2.subtitle:hover {
  /* letter-spacing: 0.0625rem; */
  transform: scaleX(1.02);
  transition: 0.5s;
}

.contact .col-md-4 a h2 {
  font-family: Montserrat;
  color: var(--clr-accent);
}
.contact .col-md-4 a h2:hover {
  /* letter-spacing: 0.0625rem; */
  transform: scaleX(1.02);
  transition: 0.5s;
}
.contact .projects,
.courses,
.projects,
.education,
.skills,
.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

/* Card */
.card:hover {
  transform: translate(0px, -10px);
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.19), 0 0.375rem 1.25rem 0.0625rem rgba(0, 0, 0, 0.4);
  transition: 1s;
}
h5.card-title {
  font-weight: 500;
}

/* Webmap starts here*/
.webmap,
.projects1,
.projects2,
.projects3,
.projects4 {
  min-height: 100vh;
}
.boxmap {
  border: var(--clr-dark);
  background-color: var(--clr-bright);
  border-radius: 0.6rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}
#mapid,
#map1,
#map2,
#map3,
#map4 {
  height: 70vh;
  width: 100%;
}
.info {
  padding: 0.375rem 0.5rem;
  font: 0.875rem/1rem Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
}
.info h5 {
  margin: 0 0 0.3125rem;
  color: #777;
}
.legend {
  text-align: left;
  line-height: 1.125rem;
  color: #555;
}
.legend i {
  width: 1.125rem;
  height: 1.125rem;
  float: left;
  margin-right: 0.5rem;
  opacity: 0.7;
}

/* Chart starts here */
.chartBox,
.chartBox-fp {
  width: 100%;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.chartBox-pie {
  width: 100%;
  height: 19rem;
  margin-left: auto;
  margin-right: auto;
}
.chartBox-cal {
  width: 100%;
  height: 22.5rem;
}
@media (min-width: 768px) {
  .chartBox-fp {
    width: 60%;
    height: 15rem;
  }
  .chartBox {
    width: 80%;
    height: 12rem;
  }
  .chartBox-cal {
    width: 80%;
    height: 22.5rem;
  }
  .chartBox-jkt {
    width: 65%;
    height: 22.5rem;
  }
  .chartBox-pie {
    width: 80%;
    height: 20rem;
  }
}

/* Footer */
footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(355deg, rgba(2, 0, 36, 1) 0%, rgba(19, 79, 92, 1) 100%);
  color: #ffffff;
  font-size: 0.8rem;
}

/* Photos */
.profile {
  margin: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5%;
  width: 85%;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}

/* Buttons */
.card-footer a.btn-warning {
  background-color: var(--clr-dark-sec);
  color: var(--clr-bright);
  border-color: var(--clr-dark-sec);
}
.card-footer a.btn-warning:hover {
  background-color: var(--clr-dark);
  color: var(--clr-bright);
  border-color: var(--clr-dark);

  transition: 1s;
}
.aboutme {
  background-color: var(--clr-accent);
  color: #000000;
  border-color: var(--clr-accent);
  transition: 0.5s ease-in-out;
  width: 10rem;
}
.downloadcv {
  background-color: transparent;
  color: #ff9900;
  border-color: #ff9900;
  box-shadow: inset 0 0 0 0 var(--clr-accent-darker);
  transition: 0.5s ease-in-out;
  width: 10rem;
}
.downloadcv:hover,
.aboutme:hover {
  box-shadow: inset 10rem 0 0 0 var(--clr-accent-darker);
  color: var(--clr-bright);
  border-color: var(--clr-accent-darker);
}

/* social media starts */
.social-menu ul {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  white-space: nowrap;
}
.social-menu ul li {
  list-style: none;
  display: inline;
  /* margin: 0.7rem; */
}
.social-menu ul li .fa {
  font-size: 1rem;
}
.social-menu ul li a.btn:hover {
  color: #ffffff;
  border-color: transparent;
  transform: scale(1.1, 1.1);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
  /* transition: 1.5s; */
}
.social-menu ul li a.fb:hover {
  background-color: #3b5999;
  transition: 1s;
}
.social-menu ul li a.tw:hover {
  background-color: #55acee;
  transition: 1s;
}
.social-menu ul li a.ig:hover {
  background-color: #e2176b;
  transition: 1s;
}
.social-menu ul li a.mail:hover {
  background-color: #bb001b;
  transition: 1s;
}
.social-menu ul li a.btn {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  text-align: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

/* Timeline */

.timeline {
  width: 90%;
  height: auto;
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
/* The text boxs */
.timeline ul li {
  padding: 1.25rem;
  background-color: var(--clr-dark);
  color: var(--clr-bright);
  border-radius: 0 0.9375rem 0.9375rem 0.9375rem;
  margin-bottom: 1.25rem;
}
.timeline ul li:hover {
  box-shadow: 0 0 0.1875 0.0625rem var(--clr-dark-sec);
}
/* The summary and details */
summary {
  list-style-type: none;
  cursor: pointer;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.timeline ul li a {
  text-decoration: none;
  color: var(--clr-accent-sec);
}
.timeline ul li a:hover {
  background-color: var(--clr-accent-sec);
  color: #000000;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h3 {
  color: var(--clr-accent);
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.875rem;
}
.timeline-content p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.3rem;
}
.timeline-content ul {
  padding-left: 1rem;
  list-style: square;
}
.timeline-content ul li {
  padding: 0;
  margin-bottom: 0;
  line-height: 1.3rem;
  background-color: transparent;
}
.timeline-content ul li:hover {
  box-shadow: none;
}
.timeline-content .date {
  color: var(--clr-bright);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
  letter-spacing: 0.125rem;
}
@media (max-width: 991px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.9375rem;
    transform: translateX(-50%);
    width: 0.125rem;
    height: 100%;
    background-color: var(--clr-dark-sec);
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: var(--clr-dark);
    transform: translateY(-100%);
    left: -1.5625rem;
  }
  .timeline-content ul li::before {
    content: none;
  }
  .timeline ul li:hover::before {
    background-color: var(--clr-accent);
    box-shadow: 0 0 0.1875rem 0.125rem var(--clr-accent-sec);
  }
}
@media only screen and (min-width: 992px) {
  /* The line */
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.125rem;
    height: 100%;
    background-color: var(--clr-dark-sec);
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 3.125rem;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-1.875rem);
    border-radius: 1.25rem 0px 1.25rem 1.25rem;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(1.875rem);
    border-radius: 0px 1.25rem 1.25rem 1.25rem;
  }
  /* The dots */
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: var(--clr-dark);
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -1.875rem;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -1.875rem;
  }
  .timeline-content .date {
    color: var(--clr-dark);
    position: absolute;
    top: -1.875rem;
  }
  .timeline ul li:hover::before {
    background-color: var(--clr-accent);
    box-shadow: 0 0 0.1875rem 0.125rem var(--clr-accent-sec);
  }
  .timeline-content ul li:nth-child(odd),
  .timeline-content ul li:nth-child(even) {
    width: 100%;
    float: left;
    clear: none;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .timeline-content ul li:nth-child(odd),
  .timeline-content ul li:nth-child(even) {
    transform: none;
    left: 0;
    right: 0;
  }
  .timeline-content ul li::before {
    content: none;
  }
}

/* .chart {
  max-width: 700px;
  size: 100%;
} */
